.root {
    -fx-background-color: #e4e4e4;
}

.side-bar {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: black;
    -fx-background-color: #F3F3F3;
}

.profile-bar {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
    -fx-padding: 10px 20px;
    -fx-spacing: 15px;
}

.profile-bar .label {
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: 700;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: orange;
}

.navigation-bar {
    -fx-background-color: #F3F3F3;
    -fx-padding: 12px 12px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
    -fx-hgap: 20px;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Thin";
}

.nav-button:hover {
    -fx-background-color: rgb(210, 210, 210);
    -fx-cursor: hand;
    -fx-background-radius: 6px;
}

.new-project-view {
    -fx-hgap: 50px;
    -fx-alignment: center;
    -fx-orientation: horizontal;
}

.new-project-view .data-form,
.new-project-view .props-form,
.new-project-view .instruments-form{
    -fx-padding: 20px;
    -fx-background-color: #F3F3F3;
    -fx-border-width: 2px;
    -fx-border-color: #c5c5c5;
    -fx-border-radius: 5px;
    -fx-vgap: 10px;
}

.new-project-view .data-label {
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-font-family: "Roboto Light";
}

.new-project-view .data-input {
    -fx-min-width: 300px;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 8px 4px;
}

#create-btn {
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Light";
    -fx-padding: 5px 10px;
    -fx-background-color: #F3F3F3;
    -fx-border-width: 2px;
    -fx-border-color: #c5c5c5;
    -fx-border-radius: 5px;
}

#create-btn:hover {
    -fx-background-color: #e0e0e0;
    -fx-cursor: hand;
}
