version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: chordly_db
      MYSQL_USER: chordly_root
      MYSQL_PASSWORD: chordly_pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password123
    depends_on:
      - db

volumes:
  db_data:
